# PREPARING DATA SET 2


   <a id='top'></a>
<div class="list-group" id="list-tab" role="tablist">
<p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">CREATING SINGLE CSV FILE FROM 9 BENING TRAFFIC AND 8 MALACIOUS TRAFIC CSV FILE</p>

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">LOADING 9 BENING-TRAFFIC DATA IN DATAFRAMES </p>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
benign1=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening1.csv")
benign2=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening2.csv")
benign3=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening3.csv")
benign4=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening4.csv")
benign5=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening5.csv")
benign6=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening6.csv")
benign7=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening7.csv")
benign8=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening8.csv")
benign9=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/bening9.csv")

In [6]:
DIM_1=[benign1.shape,benign2.shape,benign3.shape,benign4.shape,benign5.shape,benign6.shape,benign7.shape,benign8.shape,benign9.shape]

print("Dimension of dataframe" ,DIM_1)

Dimension of dataframe [(1165, 14), (526, 14), (651, 14), (93, 14), (98, 14), (50, 14), (96, 14), (100, 14), (99, 14)]

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">JOINING ALL BENING DATAFRAME </p>

In [7]:
final_benign=pd.concat([benign1,benign2,benign3,benign4,benign5,benign6,benign7,benign8,benign9])

In [8]:
final_benign

,Unnamed: 0,bidirectional_duration_ms,bidirectional_packets,bidirectional_bytes,src2dst_first_seen_ms,src2dst_last_seen_ms,src2dst_packets,src2dst_bytes,dst2src_first_seen_ms,dst2src_last_seen_ms,dst2src_packets,dst2src_bytes,dst2src_duration_ms,src2dst_duration_ms
0,0,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0
1,1,0,1,425,1537522897732,1537522897732,1,425,0,0,0,0,0,0
2,2,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0
3,3,7005,4,972,1537523212430,1537523219435,4,972,0,0,0,0,0,7005
4,4,7006,4,972,1537523212430,1537523219436,4,972,0,0,0,0,0,7006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,94,1798463,2296,637076,1562592319362,1562594117825,1070,203244,1562592319371,1562594117684,1226,433832,1798313,1798463
95,95,3,4,452,1562593368871,1562593368871,2,162,1562593368874,1562593368874,2,290,0,0
96,96,11,4,360,1562593368875,1562593368875,2,180,1562593368886,1562593368886,2,180,0,0
97,97,1793425,2306,641346,1562594127761,1562595921186,1068,204498,1562594127771,1562595921171,1238,436848,1793400,1793425
98,98,942275,1222,339672,1562595931189,1562596873464,566,108684,1562595931198,1562596873307,656,230988,942109,942275

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">LOADING 8 MALACIOUS-TRAFFIC DATA IN DATAFRAMES </p>

In [9]:
attack1=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack11.csv")

In [10]:
attack2=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack22.csv")

In [11]:

attack3=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack33.csv")
attack4=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack44.csv")

In [12]:
attack5=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack55.csv")
attack6=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack66.csv")
attack7=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack77.csv")
attack8=pd.read_csv("/home/abhi/Desktop/pysparkproject/iot23updated/attack88.csv")

In [13]:
DIM_2=[attack1.shape,attack2.shape,attack3.shape,attack4.shape,attack5.shape,attack6.shape,attack7.shape,attack8.shape]

print("Dimension of dataframe" ,DIM_2)

Dimension of dataframe [(11385770, 14), (6374577, 14), (2966, 14), (7490759, 14), (7202263, 14), (1552, 14), (625632, 14), (83648, 14)]

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">JOINING ALL MALACIOUS DATAFRAME </p>

In [14]:
final_attack=pd.concat([attack1,attack2,attack3,attack5,attack4,attack6,attack7,attack8])

In [15]:
final_attack

,Unnamed: 0,bidirectional_duration_ms,bidirectional_packets,bidirectional_bytes,src2dst_first_seen_ms,src2dst_last_seen_ms,src2dst_packets,src2dst_bytes,dst2src_first_seen_ms,dst2src_last_seen_ms,dst2src_packets,dst2src_bytes,dst2src_duration_ms,src2dst_duration_ms
0,0,3,2,688,1532100780550,1532100780553,2,688,0,0,0,0,0,3
1,1,4134,11,1655,1532100786102,1532100790236,11,1655,0,0,0,0,0,4134
2,2,34603,20,4380,1532100684348,1532100718951,20,4380,0,0,0,0,0,34603
3,3,0,1,62,1532100779550,1532100779550,1,62,0,0,0,0,0,0
4,4,1,4,388,1532100812196,1532100812196,2,162,1532100812197,1532100812197,2,226,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83643,83643,7005,4,296,1526886143836,1526886150841,4,296,0,0,0,0,0,7005
83644,83644,7002,4,296,1526886176869,1526886183871,4,296,0,0,0,0,0,7002
83645,83645,7009,4,296,1526886209892,1526886216901,4,296,0,0,0,0,0,7009
83646,83646,7007,4,296,1526886242923,1526886249930,4,296,0,0,0,0,0,7007
83647,83647,7006,4,296,1526886275954,1526886282960,4,296,0,0,0,0,0,7006

In [16]:
print("Dimesion of Final_Bening",final_benign.shape )
print("Dimesion of Final_Attackk" ,final_attack.shape)

Dimesion of Final_Bening (2878, 14)
Dimesion of Final_Attackk (33167167, 14)

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">ADDING TARGET COLUMN TO DATAFRAME FOR CLASS LABEL</p>

In [17]:
final_benign['Target']='0'
final_attack['Target']='1'

In [18]:
df =pd.concat([final_benign,final_attack])

In [19]:
df['Target']=df.Target.astype(int)

In [20]:
df

,Unnamed: 0,bidirectional_duration_ms,bidirectional_packets,bidirectional_bytes,src2dst_first_seen_ms,src2dst_last_seen_ms,src2dst_packets,src2dst_bytes,dst2src_first_seen_ms,dst2src_last_seen_ms,dst2src_packets,dst2src_bytes,dst2src_duration_ms,src2dst_duration_ms,Target
0,0,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
1,1,0,1,425,1537522897732,1537522897732,1,425,0,0,0,0,0,0,0
2,2,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
3,3,7005,4,972,1537523212430,1537523219435,4,972,0,0,0,0,0,7005,0
4,4,7006,4,972,1537523212430,1537523219436,4,972,0,0,0,0,0,7006,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83643,83643,7005,4,296,1526886143836,1526886150841,4,296,0,0,0,0,0,7005,1
83644,83644,7002,4,296,1526886176869,1526886183871,4,296,0,0,0,0,0,7002,1
83645,83645,7009,4,296,1526886209892,1526886216901,4,296,0,0,0,0,0,7009,1
83646,83646,7007,4,296,1526886242923,1526886249930,4,296,0,0,0,0,0,7007,1
83647,83647,7006,4,296,1526886275954,1526886282960,4,296,0,0,0,0,0,7006,1

In [21]:
print(df.columns)

Index(['Unnamed: 0', 'bidirectional_duration_ms', 'bidirectional_packets',
       'bidirectional_bytes', 'src2dst_first_seen_ms', 'src2dst_last_seen_ms',
       'src2dst_packets', 'src2dst_bytes', 'dst2src_first_seen_ms',
       'dst2src_last_seen_ms', 'dst2src_packets', 'dst2src_bytes',
       'dst2src_duration_ms', 'src2dst_duration_ms', 'Target'],
      dtype='object')

In [22]:
df = df.drop("Unnamed: 0" , axis=1)

In [23]:
df.head()

,bidirectional_duration_ms,bidirectional_packets,bidirectional_bytes,src2dst_first_seen_ms,src2dst_last_seen_ms,src2dst_packets,src2dst_bytes,dst2src_first_seen_ms,dst2src_last_seen_ms,dst2src_packets,dst2src_bytes,dst2src_duration_ms,src2dst_duration_ms,Target
0,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
1,0,1,425,1537522897732,1537522897732,1,425,0,0,0,0,0,0,0
2,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
3,7005,4,972,1537523212430,1537523219435,4,972,0,0,0,0,0,7005,0
4,7006,4,972,1537523212430,1537523219436,4,972,0,0,0,0,0,7006,0

<a id="2"></a>
# <p style="background-color:#682F2F;font-family:newtimeroman;color:#FFF9ED;font-size:150%;text-align:center;border-radius:10px 10px;">CREATING A CSV FILE</p>

In [24]:
df.to_csv("/home/abhi/Desktop/pysparkproject/iotnewdata2.csv",index=False)

##