In [17]:
import pyspark
import findspark
findspark.init()

In [18]:
findspark.find()

'C:\\Users\\abhi\\.conda\\envs\\pyspark1\\lib\\site-packages\\pyspark'

In [19]:
from pyspark.sql import SparkSession

In [20]:
sc = SparkSession.builder. \
appName("Major Project").\
master("local[1]").\
config("spark.memory.offHeap.enabled","true"). \
config("spark.memory.offHeap.size","10g").getOrCreate()

In [21]:
sc

In [22]:
df= sc.read.option("header",True).csv(r"C:\Users\abhi\Desktop\data Engineer\pysparkproject\iot23updated\iotnewdata.csv")

In [23]:
df.limit(5).toPandas()

,bidirectional_duration_ms,bidirectional_packets,bidirectional_bytes,src2dst_first_seen_ms,src2dst_last_seen_ms,src2dst_packets,src2dst_bytes,dst2src_first_seen_ms,dst2src_last_seen_ms,dst2src_packets,dst2src_bytes,dst2src_duration_ms,src2dst_duration_ms,Target
0,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
1,0,1,425,1537522897732,1537522897732,1,425,0,0,0,0,0,0,0
2,0,1,405,1537522897732,1537522897732,1,405,0,0,0,0,0,0,0
3,7005,4,972,1537523212430,1537523219435,4,972,0,0,0,0,0,7005,0
4,7006,4,972,1537523212430,1537523219436,4,972,0,0,0,0,0,7006,0

In [24]:
df.printSchema()

root
 |-- bidirectional_duration_ms: string (nullable = true)
 |-- bidirectional_packets: string (nullable = true)
 |-- bidirectional_bytes: string (nullable = true)
 |-- src2dst_first_seen_ms: string (nullable = true)
 |-- src2dst_last_seen_ms: string (nullable = true)
 |-- src2dst_packets: string (nullable = true)
 |-- src2dst_bytes: string (nullable = true)
 |-- dst2src_first_seen_ms: string (nullable = true)
 |-- dst2src_last_seen_ms: string (nullable = true)
 |-- dst2src_packets: string (nullable = true)
 |-- dst2src_bytes: string (nullable = true)
 |-- dst2src_duration_ms: string (nullable = true)
 |-- src2dst_duration_ms: string (nullable = true)
 |-- Target: string (nullable = true)

In [25]:
print('Number of rows: \t', df.count())
print('Number of columns: \t', len(df.columns))

Number of rows: 	 33170045
Number of columns: 	 14

In [26]:
train_data, test_data,validation_data = df.randomSplit([0.2, 0.3, 0.5])

In [31]:
print('Train Shape: ({}, {})'.format(train_data.count(), len(train_data.columns)))

Train Shape: (6638350, 14)

In [32]:
print('Test Shape: ({}, {})'.format(test_data.count(), len(test_data.columns)))

Test Shape: (9951084, 14)

In [33]:
print('validity: ({}, {})'.format(validation_data.count(), len(validation_data.columns)))

validity: (16580611, 14)

In [27]:
train_data.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/train2")

In [28]:
test_data.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/test2")

In [29]:
validation_data.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/validation2")

In [ ]:
for col in train_data.columns:
    df1 = train_data.withColumn(col, validation_data[col].cast(StringType()))

In [ ]:
df1.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/train2")

In [ ]:
for col in test_data.columns:
    df2 = test_data.withColumn(col, validation_data[col].cast(StringType()))

In [ ]:
df2.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/test2")

In [ ]:
for col in validation_data.columns:
    df3 = validation_data.withColumn(col, validation_data[col].cast(StringType()))

In [ ]:
df3.coalesce(1).write.options(header='True').mode('overwrite').csv("C:/Users/abhi/Desktop/data Engineer/pysparkproject/validation2")